.donor {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcBwIOvZY6f1wLquZHaCCWteMRL-fjbvVOXbcpHkSO6ozyUmGExLvdWVavLVsGcwmY9o8&usqp=CAU");
  background-size: cover;
  margin-left: 0;
}
